Você pode encontrar os mesmos dados [aqui](https://www.kaggle.com/datasets/guillemservera/global-stock-indices-historical-data)

In [59]:
import pandas as pd  # !pip install pandas

# Extract
   - Para a parte de extração vamos pegar os dados de um arquivo csv contendo dados históricos da OHLC(Open-High-Low-Close Chart) com os principais índices globais de ações.

In [60]:
df = pd.read_csv('all_indices_data.csv', parse_dates=['date'], index_col='date')
print('numero de registros (row/col):', df.shape)
df.head()

numero de registros (row/col): (283943, 6)

                 open       high        low      close  volume ticker
date
1927-12-30  17.660000  17.660000  17.660000  17.660000     0.0  ^GSPC
1928-01-03  17.760000  17.760000  17.760000  17.760000     0.0  ^GSPC
1928-01-04  17.719999  17.719999  17.719999  17.719999     0.0  ^GSPC
1928-01-05  17.549999  17.549999  17.549999  17.549999     0.0  ^GSPC
1928-01-06  17.660000  17.660000  17.660000  17.660000     0.0  ^GSPC

# Transform
   - Como processo de transformação vamos ter como objetivo simplemete calcular a média de fechamento mensal de cada ação.

Antes de tudo vamos pegar nossos atributos de interesse

In [61]:
df = df[['close', 'ticker']].copy()
df.head()

                close ticker
date
1927-12-30  17.660000  ^GSPC
1928-01-03  17.760000  ^GSPC
1928-01-04  17.719999  ^GSPC
1928-01-05  17.549999  ^GSPC
1928-01-06  17.660000  ^GSPC

Vamos fazer algumas verificações básicas como analisar se há valores faltantes e se os tipos de dados estão corretos

In [62]:
df.isna().sum()

close     0
ticker    0
dtype: int64

In [63]:
df.dtypes

close     float64
ticker     object
dtype: object

Agora vamos agrupar por cada ação (ticker)

In [64]:
tickers = df.groupby(['ticker'])

Agrupados os tickers, vamos agora organizar nossos registros de forma mensal para cada um deles.

In [65]:
monthly_data = tickers.resample('M')

calculando a média de cada ticker

In [66]:
ticker_monthly_close_mean = monthly_data.median().reset_index()
ticker_monthly_close_mean.head()

      ticker       date        close
0  000001.SS 1997-07-31  1174.217041
1  000001.SS 1997-08-31  1184.083008
2  000001.SS 1997-09-30  1185.870483
3  000001.SS 1997-10-31  1174.104980
4  000001.SS 1997-11-30  1182.487976

# Load
   - Por fim, na parte de Load, vamos passar os valores para um novo arquivo, relacionando cada ação.

In [67]:
ticker_monthly_close_mean.to_csv('historico_de_media_de_fechamendo_de_indices.csv', index=False)